@using BrandonSimpleBlog.Data
@inject IBlogRepository BlogRepository
@{ 
    var categories = BlogRepository.GetCategories(true);
    var archiveMonths = BlogRepository.GetPublishedArchiveMonths();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BrandonSimpleBlog</title>

   
    <link rel="stylesheet" href="~/css/defaulttheme.min.css" />
    <link href="~/lib/OwlCarousel2/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/OwlCarousel2/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.min.css" />

</head>
<body>
    <div class="container page-container">
        <header>

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container border-bottom">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">
                                    Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categories
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @foreach (var item in categories)
                                    {
                                        <a class="dropdown-item" href="/category/@item.CategoryName">@item.CategoryName</a>
                                        @if (item.CategoryName != categories.Last().CategoryName)
                                        {<div class="dropdown-divider"></div>}
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="social-media-icons">
                        <div class="social-media-icon navbar-text" data-toggle="tooltip" title="Facebook"><span class="fab fa-facebook-f"></span></div>
                        <div class="social-media-icon navbar-text" data-toggle="tooltip" title="Twitter"><span class="fab fa-twitter"></span></div>
                        <div class="social-media-icon navbar-text" data-toggle="tooltip" title="Instagram"><span class="fab fa-instagram"></span></div>
                        <div class="social-media-icon navbar-text" data-toggle="tooltip" title="Youtube"><span class="fab fa-youtube"></span></div>
                        <div class="social-media-icon navbar-text" data-toggle="tooltip" title="Pinterest"><span class="fab fa-pinterest"></span></div>
                        <div class="social-media-icon navbar-text" data-toggle="tooltip" title="LinkedIn"><span class="fab fa-linkedin"></span></div>
                        <div class="social-media-icon navbar-text" data-toggle="tooltip" title="Steam"><span class="fab fa-steam"></span></div>
                        <div class="social-media-icon navbar-text" data-toggle="tooltip" title="Email"><span class="fa fa-envelope"></span></div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <h1 class="my-4 text-center text-uppercase">
                    Blog Title
                </h1>
            </div>

        </header>


        <main role="main" class="pb-3">
            @RenderSection("Featured", required: false)
            <div class="container main-content">
                <div class="row">


                    <!-- Blog Entries Column -->
                    <div class="col-md-8">

                        @RenderBody()

                    </div>

                    <!-- Sidebar Widgets Column -->
                    <div class="col-md-4">

                        <!-- Search Widget -->
                        <div class="card my-4">
                            <h5 class="card-header">Site Search</h5>
                            <div class="card-body">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control border-right-0 border" placeholder="Search..."  name="term">
                                        <span class="input-group-append">
                                            <button class="btn btn-outline-secondary border-left-0 border" type="submit" asp-page="Search">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- About Me Widget -->
                        <div class="card my-4">
                            <h5 class="card-header">About Me</h5>
                            <div class="card-body">
                                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                            </div>
                        </div>

                        <!-- Categories Widget -->
                        <div class="card my-4">
                            <h5 class="card-header">Categories</h5>
                            <div class="card-body">
                                <div class="row">
                                    <table class="table">
                                        <tbody>
                                            @foreach (var item in categories)
                                            {
                                                <tr>
                                                    <td><a href="/category/@item.CategoryName">@item.CategoryName <span class="badge badge-light">@item.Total</span></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                        
                        <!-- Archive Widget -->
                        <div class="card my-4">
                            <h5 class="card-header">Archive</h5>
                            <div class="card-body">
                                <div class="row">
                                    <table class="table">
                                        <tbody>
                                            @foreach (var item in archiveMonths)
                                            {
                                                <tr>
                                                    <td><a href="/archive/@item.Year/@item.Month">@item.MonthName @item.Year <span class="badge badge-light">@item.Total</span></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                        
                        @*<!-- Tag Cloud Widget -->
                            <div class="card my-4">
                            <h5 class="card-header">Tag Cloud</h5>
                            <div class="card-body">
                                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                            </div>
                        </div>*@

                    </div>

                </div>
                <!-- /.row -->
            </div>
        </main>

    </div>

    <footer class="py-5 bg-dark">
        <div class="go-to-top-btn">
            <i class="fa fa-angle-up"></i>
        </div>

        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; BrandonSimpleBlog 2019</p>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/OwlCarousel2/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            var btn = $('.go-to-top-btn');
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    btn.fadeIn();
                } else {
                    btn.fadeOut();
                }
            });

            btn.click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, 1000);
                return false;
            });

        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
